# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Testing Files
saveindex
saveindex.new
saveindex.new_reference

#Actual program
indexer.exe